@import url(../fonts/font.css);

:root {
    --text-color: #1D2F38;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
    font-size: 38px;
    line-height: 40px;
}
.container {
    width: 100%;
    max-width: 1182px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid red;
}
