@import url(../fonts/font.css);

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
  font-style: normal;  
}

.container.wide {
  width: 100%;
  max-width: calc(375px + 2rem);
  }

.container {
  width: 100%;
  max-width: calc(315px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
