*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
}
.clearfix {
    display: block;
    clear: both;
}

/* Верхний контейнер */
.container1 {
    width: 100%;
    max-width: 1920px;
    line-height: 26px;    
    margin-left: auto;
    margin-right: auto;
    padding-left: 399px;
    padding-top: 79px;
    color: #000000;
    background-color: #EEEFF1;
}

/* Меню */
.nav-style {
    list-style: none;
    letter-spacing: 0.1em;
}

.nav-style li {
float: left;
}

/* Главная */
.nav-home {
    font-weight: 500;
    color: #34547A;    
}

/* Меню отступ */
.nav-menu {    
    margin-left: 42px;    
}

/* Заголовок - Дизайн и верстка */
h2 {
font-weight: 500;
font-size: 32px;
line-height: 38px;
color: #000000;
}

.title1 {   
    font-size: 48px;
    line-height: 79px;
    margin-top: 162px;
}

/* Текст - Дизайн и верстка */
.text1 {
    width: 540px;    
    color: #727272;
    margin-top: 60px;
}

/* Кнопка - Дизайн и верстка */
.button {    
    background: #34547A;    
    margin-top: 65px;
    margin-bottom: 141px;
    border: none;
    padding: 19px 41px 20px 41px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

/* Обо мне */
.container2 {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f7f9;        
}

.block1 {
    text-align: center;
}

/* Заголовок - Обо мне */
.title2 {    
    padding-top: 112px;
    margin-left: auto;
    margin-right: auto;
}

/* Текст - Обо мне */
.text2 {
    width: 540px;
    line-height: 26px;
    color: #727272;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* Блок с картинками */
.block2 {
    width: 1920px;   
    background: #34547A;
    margin-left: auto;
    margin-right: auto;
    padding-left: 409px;      
}

/* Блок 40+и проект + картинка */
.image {
    display: inline-block;
    margin: 100px 45px 100px 0px;    
}

/* Блок 40+ и проект*/
.image1 {
    display: inline-block;    
    margin-left: 20px;
}
/* Текст - 40+ */
h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

/* Текст - проектов */
h3+p {
    line-height: 26px;
    color: #FFFFFF;
}

/* Как я работаю */
.container3 {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background: #EEEFF1;
    text-align: center;
}

.title3 {    
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.text3 {
    width: 540px;
    line-height: 26px;
    color: #727272;
    margin-top: 50px;
    margin-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
}