@import url(../css/reset.css);
@import url(../css/header.css);
@import url(../css/footer.css);

/* ..............contacts-form.............. */
.contacts-form {
  padding: 30px;
  background-color: #ffffff;
}
.contacts-form .wrapper {
  gap: 30px;
}

/* ..............up-content.............. */
.up-content {
  width: 100%;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  gap: 30px;
}
.up-content .address::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  align-self: stretch;
  background-color: #e6e6f0;
  margin-top: 30px;
}
.up-content .tel-mail {
  gap: 15px;
}
.up-content .tel-mail::after {
  content: "";
  display: block;
  min-width: 100%;
  height: 4px;
  align-self: stretch;
  background-color: #e6e6f0;
  margin-top: 30px;
}
.up-content .mail {
  min-width: 100%;
  justify-content: flex-start;
  color: #24a3ff;
}

.up-content svg,
.up-content .text {
  display: block;
  color: #24a3ff;
}
.fb-text svg:hover {
  color: #f0145a;
}
.fb-text {
  gap: 10px;
}
.fb-text .text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* ..............down-content.............. */
.down-content {
  width: 100%;
  background: #f5f5fa;
  border-radius: 12px;
  padding: 30px;
  gap: 30px;
}
.down-content .title {
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.forms-up {
  gap: 15px;
}
input[placeholder],
textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  width: 100%;
  padding: 15px 0 15px 15px;
  outline: none;
  cursor: pointer;
  margin-bottom: 15px;
}
form:hover .text-form {
  border: 1px solid #24a3ff;
  color: #000000;
}
form:focus .text-form {
  border: 1px solid #24a3ff;
  color: #000000;
}
form:invalid .text-form {
  border: 1px solid #ff0000;
  color: #ff0000;
}
.down-content .message {
  resize: none;
  padding: 15px 0 0 15px;
  min-height: 130px;
  margin-bottom: 30px;
}
::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #b3b3ba;
}

/* ........................................ */
.forms-up h3 {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  margin-bottom: 15px;
}
.btn {
  font: inherit;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.btn-blue {
  max-width: 100%;
  background-color: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding: 18px 66px;
  margin-top: 15px;
}
.btn-blue:hover {
  background-color: #0085ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}
.btn-blue:active {
  background-color: #006ccf;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}

/* ..............footer.............. */
.footer {
  background: #f5f5fa;
  padding: 30px 0;
}
.footer .wrapper {
  gap: 25px;
}
.adress-footer {
  gap: 10px;
}
.adress-footer .adress {
  font-weight: 400;
  line-height: 20px;
  color: #323264;
}
.adress-footer .map {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.footer .contacts {
  line-height: 20px;
  gap: 10px;
}
.footer .contacts svg {
  color: #24a3ff;
  display: block;
}
.footer .contacts svg:hover {
  color: #f0145a;
}
.footer .contacts .tel {
  text-align: right;
  color: #46466e;
}
.footer .contacts .mail {
  color: #24a3ff;
}
.footer .contacts .mail:hover {
  color: #f0145a;
}
.footer .copyright {
  font-weight: 400;
  line-height: 20px;
  color: #b3b3ba;
}
